body {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  /* 80% of the viewport width */
  height: 90%;
  /* 90% of the viewport height */
  margin: 0 auto;
  overflow: auto;
  /* Allow scrolling if content overflows */
  margin-top: 20%;
}

#game-board {
  height: 250px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 3px, solid, rgb(239, 227, 59);
  border-radius: 6px;
  background-color: blanchedalmond;
}

.tile {
  height: 50px;
  width: 50px;
  padding: 1px;
  margin: 2px;
  color: black;
  background-color: rgb(217, 232, 143);
  border: 2px, solid, white;
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#score-card,
#res {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-2 {
  background-color: rgb(228, 217, 118);
}

.tile-4 {
  background-color: rgba(179, 209, 58, 0.292);
}

.tile-8 {
  background-color: rgba(218, 38, 38, 0.659);
}

.tile-16 {
  background-color: rgba(242, 25, 25, 0.896);
}

.tile-32 {
  background-color: rgb(252, 5, 5);
}

.tile-64 {
  background-color: #b95454fb;
}

.tile-128 {
  background-color: rgba(243, 130, 9, 0.979);
}

#game-over #game-board {
  display: none;
}
